.info {
    display: flex;
    gap: 100px;
    justify-content: space-between;

    margin-top: 150px;

    @media (max-width: 1199.98px) {
        padding: 0 15px;
    }

    @media (max-width: 991.98px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;

        margin-top: 100px;
        padding: 0 15px;
    }

    @media (max-width: 575.98px) {
        gap: 40px;

        margin-top: 50px;
    }

    &__left {
        padding-left: 15px;

        @media (max-width: 575.98px) {
            padding-left: 0;
        }
    }

    &__bottom {
        flex-direction: row-reverse;
        padding-top: 100px;

        @media (max-width: 991.98px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
            gap: 60px;

            margin-top: 100px;
        }

        @media (max-width: 575.98px) {
            margin-top: 50px;
        }
    }

    &__desc {
        margin-top: 10px;
    }

    &__right {
        width: 570px;
        height: 400px;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 10px;

        @media (max-width: 991.98px) {
            width: 100%;
        }

        @media (max-width: 575.98px) {
            height: 230px;
        }
    }

    &__list {
        margin-top: 15px;
        list-style: square;
        &--item {
            color: var(--white-80, rgba(255, 255, 255, 0.8));
            font-size: 1.6rem;
            line-height: 162.5%;
        }
    }
}
