.our {
    padding-top: 100px;
    margin-top: 20px;

    &__bottom {
        margin-top: 60px;
        display: flex;
        gap: 40px;

        @media (max-width: 1199.98px) {
            flex-direction: column;
        }
    }

    &__list {
        padding-left: 15px;
    }

    &__item:not(:last-of-type) {
        margin-bottom: 50px;
    }

    &__title {
        color: var(--White, #fff);

        font-size: 2.4rem;
        font-weight: 500;
        line-height: 141.667%;
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    &__img {
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
}

.product {
    margin-top: 100px;

    @media (max-width: 991.98px) {
        margin-top: 60px;
    }

    @media (max-width: 575.98px) {
        margin-top: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 575.98px) {
            grid-template-columns: 1fr;
        }
    }

    &__img-wrap {
        display: flex;
        flex: 1;
        height: 500px;
        border-radius: 15px;
        background: red;
        overflow: hidden;
        cursor: pointer;

        &:hover img {
            scale: 1.2;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;
        }
    }
}
