@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.container,
.container-fluid {
  --column-size: 12;
  --spacer: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer) / 2);
  margin-right: calc(-1 * var(--spacer) / 2);
}

.col {
  flex: 1 0;
}

.g-0 {
  --spacer: 0;
}

.row > [class*=offset-] {
  margin-left: calc(100% / var(--column-size) * var(--offset-number));
}

.offset-0 {
  --offset-number: 0;
}

.offset-1 {
  --offset-number: 1;
}

.offset-2 {
  --offset-number: 2;
}

.offset-3 {
  --offset-number: 3;
}

.offset-4 {
  --offset-number: 4;
}

.offset-5 {
  --offset-number: 5;
}

.offset-6 {
  --offset-number: 6;
}

.offset-7 {
  --offset-number: 7;
}

.offset-8 {
  --offset-number: 8;
}

.offset-9 {
  --offset-number: 9;
}

.offset-10 {
  --offset-number: 10;
}

.offset-11 {
  --offset-number: 11;
}

.col,
.row[class*=row-cols-] > *,
.row > [class*=col-] {
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}

.row[class*=row-cols-] > *,
.row > [class*=col-] {
  flex: 0 0 auto;
}

.row[class*=row-cols-] > * {
  width: calc(100% / var(--row-cols-number));
}

.row-cols-1 > * {
  --row-cols-number: 1;
}

.row-cols-2 > * {
  --row-cols-number: 2;
}

.row-cols-3 > * {
  --row-cols-number: 3;
}

.row-cols-4 > * {
  --row-cols-number: 4;
}

.row-cols-5 > * {
  --row-cols-number: 5;
}

.row-cols-6 > * {
  --row-cols-number: 6;
}

.row > [class*=col-] {
  width: calc(100% / var(--column-size) * var(--column-number));
}

.col-1 {
  --column-number: 1;
}

.col-2 {
  --column-number: 2;
}

.col-3 {
  --column-number: 3;
}

.col-4 {
  --column-number: 4;
}

.col-5 {
  --column-number: 5;
}

.col-6 {
  --column-number: 6;
}

.col-7 {
  --column-number: 7;
}

.col-8 {
  --column-number: 8;
}

.col-9 {
  --column-number: 9;
}

.col-10 {
  --column-number: 10;
}

.col-11 {
  --column-number: 11;
}

.col-12 {
  --column-number: 12;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    --spacer: 24px;
    max-width: 540px;
  }
  .g-sm-0 {
    --spacer: 0;
  }
  .offset-sm-0 {
    --offset-number: 0;
  }
  .offset-sm-1 {
    --offset-number: 1;
  }
  .offset-sm-2 {
    --offset-number: 2;
  }
  .offset-sm-3 {
    --offset-number: 3;
  }
  .offset-sm-4 {
    --offset-number: 4;
  }
  .offset-sm-5 {
    --offset-number: 5;
  }
  .offset-sm-6 {
    --offset-number: 6;
  }
  .offset-sm-7 {
    --offset-number: 7;
  }
  .offset-sm-8 {
    --offset-number: 8;
  }
  .offset-sm-9 {
    --offset-number: 9;
  }
  .offset-sm-10 {
    --offset-number: 10;
  }
  .offset-sm-11 {
    --offset-number: 11;
  }
  .col-sm-1 {
    --column-number: 1;
  }
  .col-sm-2 {
    --column-number: 2;
  }
  .col-sm-3 {
    --column-number: 3;
  }
  .col-sm-4 {
    --column-number: 4;
  }
  .col-sm-5 {
    --column-number: 5;
  }
  .col-sm-6 {
    --column-number: 6;
  }
  .col-sm-7 {
    --column-number: 7;
  }
  .col-sm-8 {
    --column-number: 8;
  }
  .col-sm-9 {
    --column-number: 9;
  }
  .col-sm-10 {
    --column-number: 10;
  }
  .col-sm-11 {
    --column-number: 11;
  }
  .col-sm-12 {
    --column-number: 12;
  }
  .row-cols-sm-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-sm-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-sm-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-sm-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-sm-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-sm-6 > * {
    --row-cols-number: 6;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .g-md-0 {
    --spacer: 0;
  }
  .offset-md-0 {
    --offset-number: 0;
  }
  .offset-md-1 {
    --offset-number: 1;
  }
  .offset-md-2 {
    --offset-number: 2;
  }
  .offset-md-3 {
    --offset-number: 3;
  }
  .offset-md-4 {
    --offset-number: 4;
  }
  .offset-md-5 {
    --offset-number: 5;
  }
  .offset-md-6 {
    --offset-number: 6;
  }
  .offset-md-7 {
    --offset-number: 7;
  }
  .offset-md-8 {
    --offset-number: 8;
  }
  .offset-md-9 {
    --offset-number: 9;
  }
  .offset-md-10 {
    --offset-number: 10;
  }
  .offset-md-11 {
    --offset-number: 11;
  }
  .col-md-1 {
    --column-number: 1;
  }
  .col-md-2 {
    --column-number: 2;
  }
  .col-md-3 {
    --column-number: 3;
  }
  .col-md-4 {
    --column-number: 4;
  }
  .col-md-5 {
    --column-number: 5;
  }
  .col-md-6 {
    --column-number: 6;
  }
  .col-md-7 {
    --column-number: 7;
  }
  .col-md-8 {
    --column-number: 8;
  }
  .col-md-9 {
    --column-number: 9;
  }
  .col-md-10 {
    --column-number: 10;
  }
  .col-md-11 {
    --column-number: 11;
  }
  .col-md-12 {
    --column-number: 12;
  }
  .row-cols-md-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-md-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-md-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-md-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-md-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-md-6 > * {
    --row-cols-number: 6;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    --spacer: 30px;
    max-width: 960px;
  }
  .g-lg-0 {
    --spacer: 0;
  }
  .offset-lg-0 {
    --offset-number: 0;
  }
  .offset-lg-1 {
    --offset-number: 1;
  }
  .offset-lg-2 {
    --offset-number: 2;
  }
  .offset-lg-3 {
    --offset-number: 3;
  }
  .offset-lg-4 {
    --offset-number: 4;
  }
  .offset-lg-5 {
    --offset-number: 5;
  }
  .offset-lg-6 {
    --offset-number: 6;
  }
  .offset-lg-7 {
    --offset-number: 7;
  }
  .offset-lg-8 {
    --offset-number: 8;
  }
  .offset-lg-9 {
    --offset-number: 9;
  }
  .offset-lg-10 {
    --offset-number: 10;
  }
  .offset-lg-11 {
    --offset-number: 11;
  }
  .col-lg-1 {
    --column-number: 1;
  }
  .col-lg-2 {
    --column-number: 2;
  }
  .col-lg-3 {
    --column-number: 3;
  }
  .col-lg-4 {
    --column-number: 4;
  }
  .col-lg-5 {
    --column-number: 5;
  }
  .col-lg-6 {
    --column-number: 6;
  }
  .col-lg-7 {
    --column-number: 7;
  }
  .col-lg-8 {
    --column-number: 8;
  }
  .col-lg-9 {
    --column-number: 9;
  }
  .col-lg-10 {
    --column-number: 10;
  }
  .col-lg-11 {
    --column-number: 11;
  }
  .col-lg-12 {
    --column-number: 12;
  }
  .row-cols-lg-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-lg-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-lg-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-lg-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-lg-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-lg-6 > * {
    --row-cols-number: 6;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .g-xl-0 {
    --spacer: 0;
  }
  .offset-xl-0 {
    --offset-number: 0;
  }
  .offset-xl-1 {
    --offset-number: 1;
  }
  .offset-xl-2 {
    --offset-number: 2;
  }
  .offset-xl-3 {
    --offset-number: 3;
  }
  .offset-xl-4 {
    --offset-number: 4;
  }
  .offset-xl-5 {
    --offset-number: 5;
  }
  .offset-xl-6 {
    --offset-number: 6;
  }
  .offset-xl-7 {
    --offset-number: 7;
  }
  .offset-xl-8 {
    --offset-number: 8;
  }
  .offset-xl-9 {
    --offset-number: 9;
  }
  .offset-xl-10 {
    --offset-number: 10;
  }
  .offset-xl-11 {
    --offset-number: 11;
  }
  .col-xl-1 {
    --column-number: 1;
  }
  .col-xl-2 {
    --column-number: 2;
  }
  .col-xl-3 {
    --column-number: 3;
  }
  .col-xl-4 {
    --column-number: 4;
  }
  .col-xl-5 {
    --column-number: 5;
  }
  .col-xl-6 {
    --column-number: 6;
  }
  .col-xl-7 {
    --column-number: 7;
  }
  .col-xl-8 {
    --column-number: 8;
  }
  .col-xl-9 {
    --column-number: 9;
  }
  .col-xl-10 {
    --column-number: 10;
  }
  .col-xl-11 {
    --column-number: 11;
  }
  .col-xl-12 {
    --column-number: 12;
  }
  .row-cols-xl-1 > * {
    --row-cols-number: 1;
  }
  .row-cols-xl-2 > * {
    --row-cols-number: 2;
  }
  .row-cols-xl-3 > * {
    --row-cols-number: 3;
  }
  .row-cols-xl-4 > * {
    --row-cols-number: 4;
  }
  .row-cols-xl-5 > * {
    --row-cols-number: 5;
  }
  .row-cols-xl-6 > * {
    --row-cols-number: 6;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /*cuộn mượt mà*/
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
}

input,
textarea {
  background: transparent;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.line-clamp.line-4 {
  --line-clamp: 4;
}

.line-clamp.line-5 {
  --line-clamp: 5;
}

.line-clamp.line-10 {
  --line-clamp: 10;
}

.heading {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 106%;
  text-transform: capitalize;
  color: #fff;
}

.header {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 767.98px) {
  .header {
    padding: 20px 18px;
  }
}
.header__bar {
  width: 24px;
  height: 24px;
  display: none;
}
@media (max-width: 991.98px) {
  .header__bar {
    display: block;
  }
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.header__list {
  display: flex;
  color: #fff;
}
@media (max-width: 991.98px) {
  .header__list {
    display: none;
  }
}
.header__link {
  padding: 18px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #bfbfbf;
}
.header__link--active {
  color: #fff;
}
.header__link:hover {
  color: #fff;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 130px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .header__btn {
    display: none;
  }
}

.modal {
  position: fixed;
  z-index: 99;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 30px;
  background: #292e39;
  width: 70vw;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.modal.show .modal__container {
  transform: translateX(0);
}
.modal__close {
  width: 24px;
  height: 24px;
}
.modal__content {
  margin-top: 30px;
}
.modal__link {
  display: block;
  font-size: 1.6rem;
  padding: 10px 0;
  color: #fff;
}
.modal__link:hover {
  text-decoration: underline;
}

.hero {
  margin: 75px 0 62px;
}
.hero__inner {
  position: relative;
  text-align: center;
}
.hero__desc {
  font-weight: 500;
  font-size: 1.6rem;
  background: linear-gradient(90.18deg, #c15d74 0%, #dd9c77 97.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767.98px) {
  .hero__desc {
    font-size: 1.4rem;
  }
}
.hero__heading {
  margin: 8px 0 44px;
  font-weight: 800;
  font-size: 9.2rem;
  line-height: 115%;
  text-transform: capitalize;
  color: #fff;
}
@media (max-width: 991.98px) {
  .hero__heading {
    font-size: 7.2rem;
  }
}
@media (max-width: 767.98px) {
  .hero__heading {
    font-size: 4.6rem;
  }
}
.hero__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.hero__btn {
  padding: 20px 40px;
  border-radius: 130px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 991.98px) {
  .hero__btn {
    padding: 15px 30px;
  }
}
@media (max-width: 767.98px) {
  .hero__btn {
    padding: 10px 20px;
  }
}
.hero__btn--seat {
  background: #5162fe;
  border-color: #5162fe;
}

@media (max-width: 1199.98px) {
  .hero-decor {
    display: none;
  }
}
.hero-decor img {
  position: absolute;
}
.hero-decor img:nth-child(1) {
  top: 6px;
  left: 0;
}
.hero-decor img:nth-child(2) {
  top: -4px;
  right: 160px;
}
.hero-decor img:nth-child(3) {
  bottom: 76px;
  right: 0;
}
.hero-decor img:nth-child(4) {
  bottom: 76px;
  left: 70px;
}

.member {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 62px;
}
@media (max-width: 991.98px) {
  .member {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .member {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}
.member__item {
  position: relative;
  width: 100%;
  height: 462px;
  border: 14px solid #99dfda;
}
@media (max-width: 767.98px) {
  .member__item {
    border-width: 5px;
  }
}
@media (max-width: 575.98px) {
  .member__item {
    border: 1px solid #ccc;
  }
}
.member__item:nth-last-of-type() {
  border-color: blue;
}
.member__img-wrap {
  width: 100%;
  height: 100%;
  background: #1d1d1d;
}
.member__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.member__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 5.2rem;
  line-height: 92%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.member__job {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
  text-align: center;
}

.row > div:nth-child(2) .member__item {
  border-color: #fa777c;
}

.row > div:last-child .member__item {
  border-color: #de9d77;
}

.event {
  margin-top: 150px;
}
@media (max-width: 1199.98px) {
  .event {
    margin-top: 75px;
  }
}
@media (max-width: 575.98px) {
  .event {
    margin-top: 38px;
  }
}
.event__left {
  margin-top: 33px;
}
@media (max-width: 1199.98px) {
  .event__left {
    margin-bottom: 33px;
  }
}
.event__heading {
  max-width: 460px;
}
@media (max-width: 767.98px) {
  .event__heading {
    font-size: 3.6rem;
    text-align: left;
  }
}
.event__sub-heading {
  margin: 38px 0 32px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}
@media (max-width: 767.98px) {
  .event__sub-heading {
    margin: 19px 0 32px;
    font-size: 1.6rem;
  }
}
.event__desc {
  font-size: 1.6rem;
  line-height: 162%;
  color: #bfbfbf;
  max-width: 499px;
}
@media (max-width: 767.98px) {
  .event__desc {
    font-size: 1.4rem;
  }
}
.event__desc + .event__desc {
  margin-top: 16px;
}
.event__right {
  position: relative;
  width: 100%;
}
@media (max-width: 767.98px) {
  .event__right {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .event__right {
    width: 100%;
  }
}
.event__img {
  width: 570px;
  height: 505px;
  border-radius: 18px;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .event__img {
    width: 100%;
  }
}
.event__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event__time {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 32px;
  padding: 16px 24px;
  background: rgba(29, 29, 29, 0.45);
  backdrop-filter: blur(15px);
  border-radius: 0px 0px 0px 18px;
}
.event__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.event__num {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
}
.event__text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: #fff;
  opacity: 0.7;
}

.meet {
  margin-top: 150px;
}
@media (max-width: 767.98px) {
  .meet {
    margin-top: 75px;
  }
}
@media (max-width: 575.98px) {
  .meet {
    margin-top: 38px;
  }
}
.meet__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .meet__header {
    align-items: flex-start;
    text-align: left;
  }
}
@media (max-width: 575.98px) {
  .meet__header {
    align-items: initial;
  }
}
.meet__heading {
  max-width: 680px;
}
@media (max-width: 991.98px) {
  .meet__heading {
    font-size: 6.2rem;
  }
}
@media (max-width: 767.98px) {
  .meet__heading {
    font-size: 3.6rem;
  }
}
.meet__desc {
  max-width: 498px;
  font-size: 1.6rem;
  line-height: 162%;
  color: #bfbfbf;
}
@media (max-width: 575.98px) {
  .meet__desc {
    font-size: 1.4rem;
  }
}
.meet__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 141px;
}
@media (max-width: 991.98px) {
  .meet__list {
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .meet__list {
    grid-template-columns: 1fr;
  }
}
.meet__info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(180deg, rgba(29, 29, 29, 0) 20.38%, #1d1d1d 104.37%);
  text-align: center;
}
.meet__name {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1;
  color: #fff;
}

.meet-item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 456px;
  border-radius: 18px;
  background: #b8b9ee;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.meet-item__img {
  width: 100%;
  height: 456px;
}
.meet-item__img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s;
}
.meet-item__img img:hover {
  transform: scale(1.2);
}

.row > div:nth-child(2) .meet-item {
  background: #ffcf96;
}

.row > div:nth-child(3) .meet-item {
  background: #70d18c;
}

.schedule {
  padding-top: 150px;
}
@media (max-width: 767.98px) {
  .schedule {
    padding-top: 75px;
  }
}
@media (max-width: 575.98px) {
  .schedule {
    padding-top: 38px;
  }
}
@media (max-width: 991.98px) {
  .schedule__left {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .schedule__heading {
    font-size: 3.8rem;
  }
}
.schedule__desc {
  margin: 20px 0 34px;
  width: 284px;
  font-size: 1.6rem;
  line-height: 162%;
  color: #bfbfbf;
}
@media (max-width: 767.98px) {
  .schedule__desc {
    font-size: 1.4rem;
  }
}
.schedule__btn {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 130px;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 991.98px) {
  .schedule__btn {
    padding: 10px 20px;
  }
}
@media (max-width: 991.98px) {
  .schedule__right {
    display: none;
  }
}

.schudele-process__top {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
.schudele-process__gr {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 194px;
  color: rgba(255, 255, 255, 0.3);
  user-select: none;
}
.schudele-process__gr--active {
  color: #fff;
}
.schudele-process__gr--active::after {
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  content: "";
  width: 100%;
  border-radius: 8px;
  border-bottom: 5px solid #fff;
}
.schudele-process__gr:hover {
  color: #fff;
}
.schudele-process__day-title {
  font-weight: 700;
  font-size: 1.8rem;
}
.schudele-process__date {
  display: flex;
  align-items: flex-end;
  gap: 7px;
  font-weight: 700;
  font-size: 2.8rem;
}
.schudele-process__date span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #bfbfbf;
  white-space: nowrap;
}
.schudele-process__bottom {
  position: relative;
  margin-top: 40px;
}
.schudele-process__bottom::after {
  position: absolute;
  left: 184px;
  top: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 3px;
  height: 500px;
  border-radius: 10px;
  background: #ffcf96;
}
.schudele-process__row {
  display: flex;
  gap: 33px;
}
.schudele-process__row + .schudele-process__row {
  margin-top: 44px;
}
.schudele-process__time {
  white-space: nowrap;
  width: 144px;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #bfbfbf;
}
.schudele-process__circle {
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  border: 3px solid #ffcf96;
  border-radius: 50%;
}
.schudele-process__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.schudele-process__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
}
.schudele-process__desc {
  max-width: 443px;
  font-size: 1.4rem;
  line-height: 171%;
  color: #bfbfbf;
}

.ticket {
  margin-top: 150px;
}
@media (max-width: 991.98px) {
  .ticket {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .ticket {
    margin-top: 30px;
  }
}
.ticket__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .ticket__inner {
    justify-content: flex-start;
  }
}
.ticket__heading {
  margin-bottom: 82px;
}
@media (max-width: 767.98px) {
  .ticket__heading {
    font-size: 6rem;
    margin-bottom: 42px;
  }
}
@media (max-width: 575.98px) {
  .ticket__heading {
    font-size: 3.8rem;
    margin-bottom: 22px;
  }
}
.ticket__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .ticket__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .ticket__list {
    grid-template-columns: 1fr;
  }
}

.ticket-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 18px;
  background: #272727;
}
@media (max-width: 991.98px) {
  .ticket-item {
    margin-top: 30px;
  }
}
.ticket-item__header {
  padding: 26px 38px 29px;
  background: #1d1d1d;
  border: 1px solid #383838;
  border-radius: 18px 18px 0px 0px;
}
.ticket-item__header--premium {
  background: #f36b7f;
}
.ticket-item__header--enterprise {
  background: #70d18c;
}
.ticket-item__title {
  font-weight: 700;
  font-size: 3.6rem;
  text-transform: capitalize;
  color: #fff;
}
.ticket-item__desc {
  margin-top: 7px;
  font-size: 1.6rem;
  line-height: 162%;
  color: #fff;
  opacity: 0.8;
}
.ticket-item__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 73px;
  padding: 74px 5px 38px 37px;
  border-top: none;
  border-radius: 0px 0px 18px 18px;
}
.ticket-item__item {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 16px 0;
  font-size: 1.6rem;
  color: #e5e5e5;
  line-height: 140%;
}
.ticket-item__item::before {
  display: flex;
  content: url("../imgs/subtract.svg");
}
.ticket-item__item--premium:before {
  content: url("../imgs/subtract-premium.svg");
}
.ticket-item__item--enterprise:before {
  content: url("../imgs/subtract-enterprise.svg");
}
.ticket-item__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 302px;
  padding: 12px 20px;
  background: #1d1d1d;
  border: 1px solid #383838;
  border-radius: 54px;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  transition: background 0.3s;
}
.ticket-item__btn:hover {
  background: #5162fe;
}

.slider {
  margin-top: 150px;
  padding: 90px 0;
  background: #272727;
  border-radius: 18px;
}
@media (max-width: 767.98px) {
  .slider {
    margin-top: 70px;
  }
}
.slider__inner {
  overflow: hidden;
  display: flex;
}
.slider-item {
  flex-shrink: 0;
}
.slider__img-wrap {
  width: 338px;
  height: 390px;
  border-radius: 18px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .slider__img-wrap {
    display: none;
  }
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #f36b7f;
}
.slider__img-last {
  background: #ffcf96;
}
.slider__content {
  padding-top: 8px;
}
.slider__heading {
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;
}
@media (max-width: 575.98px) {
  .slider__heading {
    font-size: 3.8rem;
  }
}
.slider__sub-heading {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #bfbfbf;
}
@media (max-width: 575.98px) {
  .slider__sub-heading {
    font-size: 1.8rem;
  }
}
.slider__desc {
  margin-top: 16px;
  padding-top: 31px;
  width: 370px;
  font-size: 1.6rem;
  line-height: 162%;
  color: #f0f0f0;
  border-top: 0.8px solid #bfbfbf;
}
@media (max-width: 575.98px) {
  .slider__desc {
    text-align: justify;
  }
}
.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 15px;
}
.slider__label {
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s;
}
.slider__label--active {
  background: #fff;
}
.slider__label:hover {
  background: #fff;
}

.footer {
  margin-top: 150px;
}
@media (max-width: 767.98px) {
  .footer {
    margin-top: 70px;
  }
}
.footer__heading {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}
@media (max-width: 991.98px) {
  .footer__heading {
    margin-top: 50px;
  }
}
@media (max-width: 575.98px) {
  .footer__heading {
    margin-top: 30px;
  }
}
.footer__list {
  margin-top: 14px;
}
.footer__link {
  display: block;
  font-size: 1.6rem;
  color: #bfbfbf;
  padding: 10px 0;
}
@media (max-width: 575.98px) {
  .footer__link {
    font-size: 1.4rem;
  }
}
.footer__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.footer__desc {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 162%;
  color: #bfbfbf;
}
.footer__group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 24px 0 24px;
}
.footer__group input {
  font-size: 1.6rem;
  color: #bfbfbf;
  padding: 6px 0;
  border-bottom: 0.5px solid #bfbfbf;
}
.footer__group input::placeholder {
  font-size: 1.4rem;
  color: #bfbfbf;
  opacity: 0.6;
}
.footer__btn {
  height: 44px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 130px;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 77px;
  padding: 52px 0;
  border-top: 1px solid #bfbfbf;
}
@media (max-width: 575.98px) {
  .footer__copyright {
    justify-content: center;
  }
}
.footer__copy {
  font-size: 1.6rem;
  color: #e5e5e5;
  user-select: none;
}
@media (max-width: 575.98px) {
  .footer__copy {
    display: none;
  }
}
.footer__media {
  display: flex;
  align-items: center;
  gap: 34px;
}
.footer__media-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  color: #bfbfbf;
}
.footer__media-link img,
.footer__media-link span {
  transition: transform 0.3s;
}
.footer__media-link:hover {
  color: #fff;
}
.footer__media-link:hover img, .footer__media-link:hover span {
  transform: translateY(-5px);
}

body {
  background: #1d1d1d;
}

button:hover {
  opacity: 0.9;
}

/*# sourceMappingURL=main.css.map */


/* CTA */

.actions {
    position: fixed;
    bottom: 100px;
    right: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.btn-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 60px;
    height: 60px;
}

.btn-call {
    animation: shake 0.6s infinite;
}

.btn-fb {
    animation: bounce-shake 3s infinite;
    background-color: #4267b2;
}

.btn-cta svg {
    width: 100%;
}

@keyframes bounce-shake {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }
    10% {
        transform: translateY(-5px) rotate(2deg);
    }
    20% {
        transform: translateY(0px) rotate(-2deg);
    }
    30% {
        transform: translateY(-3px) rotate(1.5deg);
    }
    40% {
        transform: translateY(0px) rotate(-1.5deg);
    }
    50% {
        transform: translateY(-2px) rotate(1deg);
    }
    60% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}